# vi temporary files
.*.swp
.vscode
*.code-workspace
*.bak

/dbgen
/cvedb
/cvedb.*
/vul-source
/keys
/*.tb
/*.txt
nvdbtools
/dbsrc
/test/*
test
*.db
cnvd.db
/google
/google/*
/cnnvd/test
/cnnvd/test/*
log.*
log.log
